In [1]:
import polars as pl
from datetime import datetime, date

strikes = pl.read_csv( "https://raw.githubusercontent.com/philhetzel/opan5510-class10/refs/heads/main/data/faa_strikes.txt", separator="\t")
strikes = strikes.with_columns(pl.col("Collision Date and Time").str.strptime(pl.Datetime))
strikes

shape: (28_298, 25)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Airport:  ┆ Airport:  ┆ Origin    ┆ Origin    ┆ … ┆ Wildlife: ┆ Wildlife: ┆ Number of ┆ Record   │
│ Code      ┆ Name      ┆ State     ┆ State     ┆   ┆ Species   ┆ Species   ┆ Strikes   ┆ ID       │
│ ---       ┆ ---       ┆ ---       ┆ Code      ┆   ┆ ---       ┆ ID        ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ str       ┆ ---       ┆   ┆ str       ┆ ---       ┆ i64       ┆ i64      │
│           ┆           ┆           ┆ str       ┆   ┆           ┆ str       ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ KAAF      ┆ APALACHIC ┆ Florida   ┆ FL        ┆ … ┆ Domestic  ┆ 1F12      ┆ 1         ┆ 17459    │
│           ┆ OLA       ┆           ┆           ┆   ┆ dog       ┆           ┆           ┆          │
│           ┆ REGIONAL  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ ARPT      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KAAF      ┆ APALACHIC ┆ Florida   ┆ FL        ┆ … ┆ Herons,   ┆ I1        ┆ 1         ┆ 17114    │
│           ┆ OLA       ┆           ┆           ┆   ┆ egrets,   ┆           ┆           ┆          │
│           ┆ REGIONAL  ┆           ┆           ┆   ┆ bitterns  ┆           ┆           ┆          │
│           ┆ ARPT      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KABE      ┆ LEHIGH    ┆ Pennsylva ┆ PA        ┆ … ┆ American  ┆ K5114     ┆ 1         ┆ 259361   │
│           ┆ VALLEY    ┆ nia       ┆           ┆   ┆ kestrel   ┆           ┆           ┆          │
│           ┆ INTL      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KABE      ┆ LEHIGH    ┆ Pennsylva ┆ PA        ┆ … ┆ Mourning  ┆ O2205     ┆ 1         ┆ 345167   │
│           ┆ VALLEY    ┆ nia       ┆           ┆   ┆ dove      ┆           ┆           ┆          │
│           ┆ INTL      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KABE      ┆ LEHIGH    ┆ Pennsylva ┆ PA        ┆ … ┆ Red-taile ┆ K3302     ┆ 1         ┆ 262782   │
│           ┆ VALLEY    ┆ nia       ┆           ┆   ┆ d hawk    ┆           ┆           ┆          │
│           ┆ INTL      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ KYNG      ┆ YOUNGSTOW ┆ Ohio      ┆ OH        ┆ … ┆ Rusty     ┆ ZT106     ┆ 1         ┆ 15818    │
│           ┆ N-WARREN  ┆           ┆           ┆   ┆ blackbird ┆           ┆           ┆          │
│           ┆ RGNL ARPT ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KYNG      ┆ YOUNGSTOW ┆ Ohio      ┆ OH        ┆ … ┆ Ruddy     ┆ J2140     ┆ 1         ┆ 16759    │
│           ┆ N-WARREN  ┆           ┆           ┆   ┆ duck      ┆           ┆           ┆          │
│           ┆ RGNL ARPT ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KYNG      ┆ YOUNGSTOW ┆ Ohio      ┆ OH        ┆ … ┆ White-cro ┆ ZX309     ┆ 1         ┆ 17575    │
│           ┆ N-WARREN  ┆           ┆           ┆   ┆ wned      ┆           ┆           ┆          │
│           ┆ RGNL ARPT ┆           ┆           ┆   ┆ sparrow   ┆           ┆           ┆          │
│ KYNG      ┆ YOUNGSTOW ┆ Ohio      ┆ OH        ┆ … ┆ Cedar     ┆ ZD102     ┆ 1         ┆ 17262    │
│           ┆ N-WARREN  ┆           ┆           ┆   ┆ waxwing   ┆           ┆           ┆          │
│           ┆ RGNL ARPT ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KZPH      ┆ ZEPHYRHIL ┆ Florida   ┆ FL        ┆ … ┆ New World ┆ K1        ┆ 1         ┆ 203484   │
│           ┆ LS        ┆           ┆           ┆   ┆ Vultures  ┆           ┆           ┆          │
│           ┆ MUNICIPAL ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ ARPT      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [2]:
#Question1
strikes = strikes.with_columns(pl.col('Collision Date and Time').dt.date().alias('Date'))

running_total_strikes = (
    strikes
    .group_by('Date')
    .agg(pl.col('Number of Strikes').sum().alias('tot_strikes'))
    .sort('Date')
    .with_columns(
        pl.col('tot_strikes').cum_sum().alias('running_total_strikes')
    )
    .filter(pl.col('Date') <= datetime(2013, 12, 31))
    )

running_total_strikes

shape: (4_776, 3)
┌────────────┬─────────────┬───────────────────────┐
│ Date       ┆ tot_strikes ┆ running_total_strikes │
│ ---        ┆ ---         ┆ ---                   │
│ date       ┆ i64         ┆ i64                   │
╞════════════╪═════════════╪═══════════════════════╡
│ 2000-01-02 ┆ 1           ┆ 1                     │
│ 2000-01-03 ┆ 2           ┆ 3                     │
│ 2000-01-05 ┆ 3           ┆ 6                     │
│ 2000-01-06 ┆ 1           ┆ 7                     │
│ 2000-01-08 ┆ 4           ┆ 11                    │
│ …          ┆ …           ┆ …                     │
│ 2013-12-27 ┆ 6           ┆ 24096                 │
│ 2013-12-28 ┆ 1           ┆ 24097                 │
│ 2013-12-29 ┆ 2           ┆ 24099                 │
│ 2013-12-30 ┆ 4           ┆ 24103                 │
│ 2013-12-31 ┆ 6           ┆ 24109                 │
└────────────┴─────────────┴───────────────────────┘

In [3]:
#Question2
damage_state = (
    strikes
    .group_by('Origin State')
    .agg(
        pl.col('Cost: Total $').sum().alias('damage')
    )
    .with_columns(
        pl.col('damage')
        .rank(method='max', descending=True)
        .alias('ranking')
    )
    .filter(pl.col('ranking') == 3)
    .sort('ranking')
    )

damage_state

shape: (1, 3)
┌──────────────┬──────────┬─────────┐
│ Origin State ┆ damage   ┆ ranking │
│ ---          ┆ ---      ┆ ---     │
│ str          ┆ i64      ┆ u32     │
╞══════════════╪══════════╪═════════╡
│ California   ┆ 29671432 ┆ 3       │
└──────────────┴──────────┴─────────┘

In [4]:
#Question3
type_species = (
    strikes
    .group_by(['Aircraft: Type', 'Wildlife: Species'])
    .agg(
        pl.col('Cost: Total $').sum().alias('damage')
    )
    .with_columns(
        pl.col('damage')
        .rank(method='max', descending=True)
        .over('Aircraft: Type')
        .alias('ranking')
    )
    .filter(pl.col('ranking') == 2)
    .sort(['Aircraft: Type', 'ranking'])
)

type_species

shape: (3, 4)
┌────────────────┬───────────────────┬──────────┬─────────┐
│ Aircraft: Type ┆ Wildlife: Species ┆ damage   ┆ ranking │
│ ---            ┆ ---               ┆ ---      ┆ ---     │
│ str            ┆ str               ┆ i64      ┆ u32     │
╞════════════════╪═══════════════════╪══════════╪═════════╡
│ Airplane       ┆ White-tailed deer ┆ 22668239 ┆ 2       │
│ Helicopter     ┆ Black vulture     ┆ 116676   ┆ 2       │
│ NA             ┆ Black vulture     ┆ 56227    ┆ 2       │
└────────────────┴───────────────────┴──────────┴─────────┘

In [5]:
#Question4
daily_strikes = strikes.group_by('Date').agg(pl.col('Number of Strikes').sum().alias('total_strikes')).sort('Date')

daily_strikes_diff = daily_strikes.with_columns(
    (pl.col('total_strikes') - pl.col('total_strikes').shift(1)).alias('delta_strikes')
)

greatest_strike_increase = daily_strikes_diff.filter(pl.col('delta_strikes') > 0).sort('delta_strikes', descending=True)

greatest_strike_increase

shape: (2_222, 3)
┌────────────┬───────────────┬───────────────┐
│ Date       ┆ total_strikes ┆ delta_strikes │
│ ---        ┆ ---           ┆ ---           │
│ date       ┆ i64           ┆ i64           │
╞════════════╪═══════════════╪═══════════════╡
│ 2010-10-29 ┆ 25            ┆ 18            │
│ 2014-08-25 ┆ 25            ┆ 17            │
│ 2012-06-28 ┆ 21            ┆ 16            │
│ 2009-07-07 ┆ 21            ┆ 14            │
│ 2013-11-04 ┆ 22            ┆ 14            │
│ …          ┆ …             ┆ …             │
│ 2015-05-09 ┆ 11            ┆ 1             │
│ 2015-05-18 ┆ 8             ┆ 1             │
│ 2015-05-21 ┆ 10            ┆ 1             │
│ 2015-05-24 ┆ 10            ┆ 1             │
│ 2015-05-31 ┆ 6             ┆ 1             │
└────────────┴───────────────┴───────────────┘

In [6]:
# Question 5
daily_strikes_by_aircraft = strikes.group_by(['Date', 'Aircraft: Type']).agg(pl.col('Number of Strikes').sum().alias('total_strikes')).sort(['Aircraft: Type', 'Date'])

greatest_strike_increase_type = daily_strikes_by_aircraft.with_columns(
    (pl.col('total_strikes') - pl.col('total_strikes').shift(1).over('Aircraft: Type')).alias('delta_strikes')
).filter(pl.col('delta_strikes') > 0).with_columns(
    pl.col('delta_strikes').rank(method='max', descending=True).over('Aircraft: Type').alias('ranking')
).filter(pl.col('ranking') == 1).drop('ranking')

greatest_strike_increase_type

shape: (2, 4)
┌────────────┬────────────────┬───────────────┬───────────────┐
│ Date       ┆ Aircraft: Type ┆ total_strikes ┆ delta_strikes │
│ ---        ┆ ---            ┆ ---           ┆ ---           │
│ date       ┆ str            ┆ i64           ┆ i64           │
╞════════════╪════════════════╪═══════════════╪═══════════════╡
│ 2014-08-25 ┆ Airplane       ┆ 25            ┆ 17            │
│ 2014-08-04 ┆ NA             ┆ 5             ┆ 4             │
└────────────┴────────────────┴───────────────┴───────────────┘